/* Bruce Schulz
09.19.2024
Styles */

CSS Reset
*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

/* Style rules for div */
.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 320px;
  gap: 10px;
  padding: 10px;
  vertical-align: center;
  align-items: center;
  place-items: center;
  /* outline:1px solid red; */
}

.grid-container div {
	text-align: center;
	vertical-align: middle;
	padding: 20px 0;
}

/* Style rules for body and images */
body {
    background-color: #E792CB;
}

img{
    max-width: 100%;
    display: block;
	align-items: center;
    /* border-radius: 50%; */
}

/*Style rules for navigation area*/
nav {
    background-color: #8D2069;
}

nav ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    font-size: 1.5em;
    font-family: Geneva, Arial, sans-serif;
    font-weight: bold;
}

nav li a {
    display: block;
    color: #ffffff;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    text-decoration: none;
}

/*Style rules for main content.*/
main{
    font-family: Verdana, Arial, sans-serif;
    padding: 2%;
}

p {
    font-size: 1.25em;
}

h3 {
    padding-top: 2%;
}

main ul {
    list-style-type: square;
}

.link {
    color: #8D2069;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}

.action {
    font-size: 1.75em;
    font-weight: bold;
    text-align: center;
}

#contact{
    text-align: center;
}

/*Style rules for fotter content*/
footer {
    text-align: center;
    font-size: 0.85em;
    background-color: #8D2069;
    color: #ffffff;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 0%;
    padding-left: 0%;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}
